<%- include("partials/header"); -%>





    <div class="container content">
        <div class="filter-form">
            <form action="/doctor" method="get">
        
                <input type="text" placeholder="Enter First Name" name="fName" autocomplete="off">
                <input type="text" placeholder="Enter Last Name" name="lName" autocomplete="off">
                <input type="date" name="dateOfBirth">
                <input type="text" name="speciality" placeholder="Enter the speciality" autocomplete="off">
                <button id="form-btn" type="submit">Search</button>
            </form>
            <a id="add-button" href="/newDoctor">+</a>
        </div>
        <div class="row g-2">
        <% for(let i=0; i<doctorsArray.length; i++){%>  
            
                <div class="col-md-3">
                    <div class="card p-2 py-3 text-center">
                        <div class="img mb-2"> <img src="<%= doctorsArray[i].avatar%> z" width="70" class="rounded-circle"> </div>
                        <h5 class="mb-0"><%=doctorsArray[i].fName%> <%=doctorsArray[i].lName%></h5> <small><%=doctorsArray[i].speciality%></small>
                        <p class="mb-0 text-muted">Phone Number</p>
                                            <h6>
                                                <%=doctorsArray[i].phoneNumber%>
                                            </h6>
                        <div class="mt-4 apointment"> <button class="btn btn-success text-uppercase"> <a class="nav-link" href="/doctorProfile?doctorid=<%= doctorsArray[i]._id %>">View Profile</a></button> </div>
                    </div>
                </div>
            
                <%};%>










            
        </div>

<%- include("partials/footer"); -%>