<%- include('partials/header'); -%>

<div class="main-content2">
    <% for(let i=0; i<doctorsArray.length; i++){%>  
            
        
            
                <div class="img mb-2" style="position: relative; left:-500px; top:80px;  "> <img src="<%= doctorsArray[i].avatar%> z" width="150" class="rounded-circle"> </div>
                <h2 class="mb-0" style="position: relative; left:-300px; top:0px;  "><%=doctorsArray[i].fName%> <%=doctorsArray[i].lName%></h2> 
                
                
                <table style="position: relative; left:-200px; top:100px;">
                    <tr>
                        <td>Date of Birth</td>
                        <td><%=doctorsArray[i].dateOfBirth%></td>
                    </tr>
                    <tr>
                        <td>Contact Number</td>
                        <td><%=doctorsArray[i].speciality%></td>
                    </tr>

                </table>
                
                
                
                
                
            
        <%};%>

</div>





<%- include('partials/footer'); -%>