<%- include("partials/header"); -%>

   
        <div class="container content">
            <div class="filter-form">
                <form action="/patient" method="get">
            
                    <input type="text" placeholder="Enter First Name" name="fName" autocomplete="off">
                    <input type="text" placeholder="Enter Last Name" name="lName" autocomplete="off">
                    <input type="date" name="dateOfBirth">
                    <input type="text" name="speciality" placeholder="Enter the speciality" autocomplete="off">
                    <button id="form-btn" type="submit">Search</button>
                </form>
                <a id="add-button" href="/newPatient">+</a>
            </div>
        <div class="row g-2">
            <% for(let i=0; i<patientsArray.length; i++){%>

                <div class="col-md-3">
                    <div class="card p-2 py-3 text-center">
                        
                        <h4 class="mb-0">
                            <%=patientsArray[i].fName%>
                                <%=patientsArray[i].lName%>
                        </h4>
                        <p class="mb-0 text-muted">Medical Record ID</p>
                                            <h6>
                                                <%=patientsArray[i].medicalRecordID%>
                                            </h6>
                        <div class="mt-4">
                            <div class="mt-4">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="mt-3">
                                            <p class="mb-0 text-muted">Date of birth</p>
                                            <h6>
                                                <%=patientsArray[i].dateOfBirth.getDate()+1%>-
                                                    <%=patientsArray[i].dateOfBirth.getMonth()+1%>-
                                                        <%=patientsArray[i].dateOfBirth.getFullYear()%>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="mt-3">
                                            <p class="mb-0 text-muted">Sexe</p>
                                            <h6>
                                                <%=patientsArray[i].sexe%>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="mt-3">
                                            <p class="mb-0 text-muted">ID</p>
                                            <h6>
                                                <%=patientsArray[i].patientID%>
                                            </h6>
                                        </div>
                                    </div>
                                    
                                    <div class="col-4">
                                        <div class="mt-3">
                                            <p class="mb-0 text-muted">Phone Number</p>
                                            <h6>
                                                <%=patientsArray[i].phoneNumber%>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="mt-4 apointment">
                                
                                        <button type="button" class="btn btn-success">
                                    <i class="fa-solid fa-history sidebar-icon"></i>
                                    <a class="nav-link" href="/medical_history?medid=<%= patientsArray[i].medicalRecordID %>"><h5>Medical History</h5></a>
                                        </button>
                                </div>
                                <form action="/deletePatient" method="post">
                                    <button class="btn btn-danger btn-sm rounded-0" type="submit" name="deleteBtn" onclick="return confirm('Are you sure to delete this patient ?');" value="<%=patientsArray[i]._id%>" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                                </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <%};%>




        </div>
    </div>
    


        <%- include("partials/footer"); -%>